.listItem {
  box-shadow: 4px 4px 14px 0px rgba(59, 50, 50, 0.25);
  background-color: #fff;
  color: var(--black-color);
  padding: 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  gap: 10px;
  transition: var(--transition);

  animation-duration: 0.5s;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);

  &:hover {
    box-shadow: 4px 4px 14px 0px rgba(59, 50, 50, 0.6);
  }
  @keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }

    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
}
