.listItem {
    box-shadow: 4px 4px 14px 0px rgba(59, 50, 50, 0.25);
    background-color: #fff;
    color: black;
    padding: 24px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    gap: 10px;

    animation-duration: 0.5s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);

    @keyframes animate-pop {
        0% {
            opacity: 0;
            transform: scale(0.5, 0.5);
        }

        100% {
            opacity: 1;
            transform: scale(1, 1);
        }
    }
}
