.tableWrapper {
  h2 {
    text-align: left;
    margin-bottom: 10px;
  }

  .table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    tr:nth-child(even) {
      background-color: #ffd465;
    }

    border: 1px solid #ccc;

    td,
    th {
      border: 1px solid #ccc;
      padding: 4px;
    }

    .buttonsWrapper {
      display: flex;
      gap: 8px;
    }
  }
}
