.layout {
    width: 100%;
    position: fixed;
    bottom: 80px;
    left: 0;
    background: #eee;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .btnWrapper {
        display: flex;
        gap: 20px;
    }
}
