@import "../../../styles/media.mixin.scss";

.wrapper {
  height: 276px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid #989898;

  div {
    border-radius: 15px;
  }

  @include desktop {
    width: 628px;
  }
}
