.formWrapper {
  display: flex;
  justify-content: center;
  gap: 48px;

  .cardWrapper {
    height: auto;
    width: 297px;
  }

  .form {
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 500px;

    .wrapper {
      display: flex;
      gap: 24px;
    }

    .checkboxWrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
