.form {
  font-family: var(--secondary-font);
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;

  .wrapper {
    display: flex;
    gap: 24px;
  }

  .imageWrapper {
    display: flex;
    gap: 24px;
    align-items: flex-end;
  }

  .checkboxWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
